<div class="container">
    <div class="content-placeholder medium">
        <?=
        $this->translate('The Miss Selfie contest will be opened very soon, and you will be able to vote for your favourite selfie'
                . ' superstars or stand a chance to become one')
        ?>.
    </div>
</div>