body {
    font-family: Roboto,"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFF;
    background: rgba(0, 0, 0, 0.6) url(/img/main-bg.png);
    background-repeat: no-repeat;
    background-position: 50% top;
    background-size: cover;
    background-attachment: fixed;
}

body.clear-fixed-navbar {
    margin-top: 50px!important;
}

a, a:hover {
    color: #FFF;
}

img {
    border-radius: 3px;
}

.custom-navbar {
    background-color: #4d4e55;
}
.custom-navbar .container {
    width: 98%;
    padding: 0;
}

.custom-navbar .navbar-nav .logged-user-wrapper {
    padding: 15px 0 15px 10px;
}

.custom-navbar .navbar-nav .logged-user-wrapper #logged-user {
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.custom-navbar .navbar-nav > .active > a {
    background-color: #4d4e55;
}
.custom-navbar .navbar-toggle {
    border-color: #3d3e44;
}
.custom-navbar .navbar-toggle:hover {
    background-color: #3e3f45;
    border-color: #35353a;
}
.custom-navbar .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.custom-navbar .navbar-collapse.in .dropdown-menu .divider {
    background-color: #4d4e55;
}
.custom-navbar .nav > li {
    position: relative;
    display: block;
}
.custom-navbar .nav > li > a {
    position: relative;
    display: block;
}
.custom-navbar .nav > li > a.active {
    font-weight: bold;
    cursor: default;
    background-color: #2d2e32;
}
.custom-navbar .nav > li > a.active:hover,
.custom-navbar .nav > li > a.active:focus {
    background-color: #2d2e32;
}
.custom-navbar .nav > li > a:hover,
.custom-navbar .nav > li > a:focus {
    background-color: #35353a;
}
.custom-navbar .nav .open > a,
.custom-navbar .nav .open > a:hover,
.custom-navbar .nav .open > a:focus {
    background-color: #60626a;
    border-color: #4d90fe;
}
.custom-navbar.navbar-blue {
    background-color: #526E9C;
    border-bottom: 1px solid rgba(0,0,0,.4);
}
.custom-navbar.navbar-blue .navbar-brand {
    color: #FFFFFF;
    padding: 6px 15px;
    font-size: 21px;
    font-weight: bold;
}
.custom-navbar.navbar-blue .navbar-brand img {
    max-width: 38px;
    display: inline-block;
}
.custom-navbar.navbar-blue .navbar-nav > .active > a {
    background-color: #e1e1e1;
}
.custom-navbar.navbar-blue .navbar-toggle {
    border-color: #dddddd;
}
.custom-navbar.navbar-blue .navbar-toggle:hover {
    background-color: #e8e8e8;
    border-color: #d8d8d8;
}
.custom-navbar.navbar-blue .navbar-toggle .icon-bar {
    background-color: #333;
}
.custom-navbar.navbar-blue .navbar-collapse.in .dropdown-menu .divider {
    background-color: #e8e8e8;
}
.custom-navbar.navbar-blue .nav > li > a {
    color: #FFFFFF;
}
.custom-navbar.navbar-blue .nav > li > a.active {
    background-color: rgba(0,0,0,.5);
}
.custom-navbar.navbar-blue .nav > li > a.active:hover,
.custom-navbar.navbar-blue .nav > li > a.active:focus {
    background-color: rgba(0,0,0,.5);
}
.custom-navbar.navbar-blue .nav > li > a:hover,
.custom-navbar.navbar-blue .nav > li > a:focus {
    background-color: rgba(0,0,0,.3);
}
.custom-navbar.navbar-blue .nav .open > a,
.custom-navbar.navbar-blue .nav .open > a:hover,
.custom-navbar.navbar-blue .nav .open > a:focus {
    background-color: #dedede;
    border-color: #d0d0d0;
}

.custom-navbar .logout-wrapper {
    padding: 5px;
}

.custom-navbar .logout-wrapper .fb-logout {
    background-color: rgba(0, 0, 0, 0.7);
}

.custom-navbar .logout-wrapper .fb-logout:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.wrapper {
    margin-bottom: 50px;
}

body core-scaffold /deep/ #mainContainer {
    margin-bottom: 50px;
}

body /deep/ core-menu {
    margin: 12px 0;
}

body /deep/ core-menu core-item {
    color: #FFF;
    padding: 0 10px;
}

body /deep/ core-menu core-item.core-selected {
    background-color: rgba(0,0,0,.5);
}

body /deep/ core-header-panel core-toolbar, body /deep/ core-toolbar {
    background-color: #526E9C;
}

/*body /deep/ #mainPanel {
    background: rgba(0, 0, 0, 0.6) url(/img/main-bg.png);
    background-repeat: no-repeat;
    background-position: 50% top;
    background-size: cover;
    background-attachment: fixed;
}*/

/*body /deep/ #mainContainer {
    padding: 0 18px;
}

body /deep/ core-header-panel #mainContainer {
    background-color: #E5E5E5;
}*/

body /deep/ core-toolbar #brand {
    font-size: 25px;
    text-align: center;
}

body /deep/ core-toolbar #logged-user {
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 238px;
    white-space: nowrap;
}

paper-input-decorator /deep/ .label-text {
    color: #DFDFDF;
}

paper-input-decorator /deep/ ::-webkit-input-placeholder {
    /* platform specific rules for placeholder text */
    color: #DFDFDF;
}

paper-input-decorator /deep/ ::-moz-placeholder {
    /* platform specific rules for placeholder text */
    color: #DFDFDF;
}

paper-input-decorator /deep/ :-ms-input-placeholder {
    /* platform specific rules for placeholder text */
    color: #DFDFDF;
}

paper-button.form-btn {
    padding:0;
}
paper-button.form-btn::shadow .button-content {
    padding:0;
}
paper-button button {
    padding: .85em;
    background-color: transparent;
    border-color: transparent;
    color: #FFF;
    cursor: pointer;
    font-size: 15px;
    outline: none;
}
paper-button button::-moz-focus-inner {
    border: 0;
}

.content {
    /*    background-color: rgba(0, 0, 0, 0.5);
        overflow: auto;*/
}

#home-hero {
    text-align: center;
}

#home-hero .fb-login-wrapper {
    margin-bottom: 50px;
    margin-top: 50px;
}

#home-hero p {
    font-size: 20px;
    line-height: 35px;
    /*    text-align: left;*/
}

#home-hero p a {
    text-decoration: underline;
}

#navheader {
    background-color: #303030;
    color: #FFF;
}

.btn-primary {
    background-color: #526E9C;
}

.container {
    padding: 15px 18px;
    width: 100%;
}

/*#home-hero.container {
    width: inherit;
}*/

.content-placeholder {
    padding: 0 8px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    overflow: auto;
}
.content-placeholder a {
    color: #333;
}
.content-placeholder.medium {
    font-size: 1.4em;
    margin: 30px 0;
    padding: 10px 30px;
}
.content-placeholder.big {
    font-size: 2em;
    margin: 30px 0;
    padding: 10px 30px;
}

form[name=join] h4 {
    text-align: center;
    margin-bottom: 20px;
}

select {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 0.5em 0 0.25em;
    margin: 0.75em 0;
    outline: none;
    background: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: 1px solid #FFF;
    color: #FFF;
}

select option {
    color: #333333;
}

label[for=birthdate] {
    display: block;
    color: #DFDFDF;
    padding-top: 1.2em;
}

.file-elem-outter {
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.5);
    background: rgba(234, 234, 234, 0.2);
    width: 100%;
    position: relative;
    border-radius: 4px;
}

.file-elem-inner {
    height: 30px;
    position: relative;
    overflow: hidden;
}

.file-elem-inner input[type=file] {
    bottom: 0;
    cursor: pointer;
    font-size: 150px;
    height: 30px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    z-index: 100;
    width: 100%;
}

.file-elem-inner button {
    border-radius: 3px;
    font-size: 0.9em;
    font-weight: bold;
    height: 100%;
    position: absolute;
    transition-duration: 0.3s;
    width: 100%;
}

.form-group li {
    color: #E31010;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0 10px;
    border-radius: 2px;
}

.alert {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 2px;
}

.alert-danger {
    color: #E31010;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
}

.contestants .contestant {
    margin-bottom: 40px;
}

.contestants .contestant div.contestant-inner {
    position: relative;
}

.contestants .contestant div.name {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 10px 5px;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.7);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /*    display: none;*/
    transition: .3s;
}

/*.contestants .contestant:hover div {
    display: block;
}*/

.contestant-profile-actions paper-button[disabled] {
    background: #00BEA4;
    color: #FFF;
}

.contestant-profile-actions paper-button[disabled] core-icon {
    padding: 0 15px;
}

.contestant-profile {
    margin-top: 25px;
}

.contestant-profile .profile-selfie {
    position: relative;
    /*    position: absolute;
    width: 100%;
    bottom: 15px;*/
}

.contestant-profile .profile-selfie a {
    display: block;
}

.contestant-profile .profile-selfie a img {
    margin: 0 auto;
}

.contestant-profile .profile-selfie,
.contestant-profile .other-selfies {
    font-size: 12px;
}

.contestant-profile .other-details,
.contestant-profile .bio {
    font-size: 15px;
}

.contestant-profile .other-selfies {
    margin-top: 20px;
}

.contestant-profile .other-selfies .other-selfie {
    margin-top: 15px;
}

.overlay-inner {
    background-color: #FFF;
    color: #333;
}

.overlay-inner core-toolbar {
    color: #FFF;
}

.overlay-inner .main-content {
    padding: 5px 15px 15px;
}

.overlay-inner .main-content .main-message {
    padding: 15px 6px;
}

/*.contestant-profile .other-details,
.contestant-profile .bio {
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    margin: 15px 0;
    padding-top: 15px;
    padding-bottom: 15px;
}*/

//Slick
.slick-slider {
}

.slick-slider {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 450px;
    padding: 30px 10px;
    border-radius: 2px;
}

.slick-slider .slick-dots li button:before {
    font-size: 18px;
}

//Media Queries
@media (min-width: 768px) {
    body {
    }
}

@media screen and (max-width: 768px) {
    .custom-navbar .navbar-nav .logged-user-wrapper {
        padding: 8px 0 8px 10px;
        float: left;
    }

    /*    .contestant-profile {
            margin: 0;
        }*/

    .contestant-profile .other-details {
        border-top: 2px solid #FFF;
        border-bottom: 2px solid #FFF;
        margin: 15px 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

//Media Queries
@media (min-width: 500px) {
    body {
    }
}

@media screen and (max-width: 500px) {

    .custom-navbar .navbar-nav .logged-user-wrapper #logged-user {
        max-width: 150px;
    }
}

//Media Queries
@media (min-width: 400px) {
    body {
    }
}

@media screen and (max-width: 400px) {
    .slick-slider {
        min-height: 430px;
    }

    #home-hero h1 {
        font-size: 25px;
    }

    #home-hero p {
        font-size: 14px;
    }

    #home-hero .fb-login-wrapper {
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .custom-navbar.navbar-blue .navbar-brand img {
        max-width: 33px;
    }

    .custom-navbar.navbar-blue .navbar-brand {
        font-size: 18px;
        padding: 9px 15px;
    }

    .custom-navbar .navbar-nav .logged-user-wrapper {
        padding: 5px 0 5px 5px;
    }

    .custom-navbar .navbar-nav .logged-user-wrapper #logged-user {
        max-width: 75px;
    }
}