<!--
 * Miss Selfie
 * Author: Westermack Batanyita <westermack@safi.co.tz>
-->

<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php if ($this->layout()->contestant): ?>
            <meta property="og:url" content="<?= $this->url('missselfie/contestants') . '/' . $this->layout()->contestant->getId() ?>" />
            <meta property="og:title" content="<?= $this->layout()->contestant->getName() . '\'s Miss Selfie Profile' ?>" />
            <meta property="og:description" content="Miss Selfie is... Vote for <?= $this->layout()->contestant->getName() . ' and help her win...' ?>" />
            <meta property="og:image" content="<?= $this->url('missselfie') . $this->layout()->contestant->getProfileSelfie()->src . '.jpg' ?>" />
        <?php endif; ?>
        <?php echo $this->headTitle('Miss Selfie')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                ->appendStylesheet($this->basePath() . '/components/bootstrap/dist/css/bootstrap.min.css')
                ->appendStylesheet($this->basePath() . '/fonts/roboto/roboto.css')
                ->appendStylesheet($this->basePath() . '/components/fancybox/source/jquery.fancybox.css')
                ->appendStylesheet($this->basePath() . '/css/style.css')
                //->headLink(array('rel' => 'import', 'href' => $this->basePath() . '/components/core-scaffold/core-scaffold.html'))
                //->headLink(array('rel' => 'import', 'href' => $this->basePath() . '/components/core-toolbar/core-toolbar.html'))
                //->headLink(array('rel' => 'import', 'href' => $this->basePath() . '/components/core-menu/core-menu.html'))
                //->headLink(array('rel' => 'import', 'href' => $this->basePath() . '/components/core-item/core-item.html'))
                ->headLink(array('rel' => 'import', 'href' => $this->basePath() . '/components/paper-button/paper-button.html'))
                ->headLink(array('rel' => 'import', 'href' => $this->basePath() . '/components/paper-input/paper-input.html'))
        //->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()
                //->appendFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                //->appendFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->appendFile($this->basePath() . '/components/webcomponentsjs/webcomponents.min.js')
                ->appendFile($this->basePath() . '/components/jquery/dist/jquery.min.js')
                ->appendFile($this->basePath() . '/components/fancybox/source/jquery.fancybox.pack.js')
                ->appendFile($this->basePath() . '/components/bootstrap/dist/js/bootstrap.min.js')
                ->appendFile($this->basePath() . '/js/app.js')
        ;
        ?>

    </head>
    <body fullbleed vertical layout unresolved class="clear-fixed-navbar">
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId: '904740909537369',
                    xfbml: true,
                    version: 'v2.1'
                });
            };

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <header class="navbar custom-navbar navbar-blue navbar-fixed-top" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="<?= $this->url('user', array('action' => 'index')) ?>" class="navbar-brand">
                        <img src="/img/logo.png" alt="MissSelfie Logo">
                        Miss Selfie
                    </a>
                    <ul class="nav navbar-nav">
                        <li class="logged-user-wrapper">
                            <div id='logged-user'><strong><?= $this->facebookUserIdentity()->getProperty('name') ?></strong></div>
                        </li>
                    </ul>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="<?= $this->url('user', array('action' => 'index')) ?>"
                               class="<?= $this->layout()->selectedMenuItem === 'logged-home' ? 'active' : '' ?>">
                                   <?= $this->missSelfieUserIdentity()->isContestant() ? $this->translate('My Miss Selfie Profile') : $this->translate('Voted Contestants') ?>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="<?= $this->url('missselfie/contestants') ?>" class="<?= $this->layout()->selectedMenuItem === 'contestants' ? 'active' : '' ?>">
                                <?= $this->translate('All Contestants') ?>
                            </a>
                        </li>
                        <?php if (($this->facebookUserIdentity()->getProperty('gender') == 'female' && !$this->missSelfieUserIdentity()->isContestant()) || $this->facebookUserIdentity()->getProperty('id') == '903399166347269'): ?>
                            <li class="dropdown">
                                <a href="<?= $this->url('user', array('action' => 'join_contest')) ?>" class="<?= $this->layout()->selectedMenuItem === 'join-contest' ? 'active' : '' ?>">
                                    <?= $this->translate('Join Contest') ?>
                                </a>
                            </li>
                        <?php endif; ?>
                        <div horizontal around-justified layout class="logout-wrapper">
                            <a href="<?= $this->url('user', array('action' => 'logout')) ?>">
                                <paper-button raised class="btn-primary fb-logout"><?= $this->translate('Logout') ?></paper-button>
                            </a>
                        </div>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="content">
            <?php echo $this->content; ?>
        </div>
        <footer class="" role="contentinfo">
            <a href="<?= $this->url('missselfie/privacy') ?>"><?= $this->translate('Privacy Policy') ?></a> &bullet;
            <a href="<?= $this->url('missselfie/terms') ?>"><?= $this->translate('Terms of Use') ?></a>  &bullet;
            <a href="<?= $this->url('missselfie/about') ?>"><?= $this->translate('About') ?></a>
        </footer>
    </body>
</html>
