<!--
 * Miss Selfie
 * Author: Westermack Batanyita <westermack@safi.co.tz>
-->

<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Miss Selfie')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                ->appendStylesheet($this->basePath() . '/components/bootstrap/dist/css/bootstrap.min.css')
                ->appendStylesheet($this->basePath() . '/fonts/roboto/roboto.css')
                ->appendStylesheet($this->basePath() . '/components/slick-carousel/slick/slick.css')
                ->appendStylesheet($this->basePath() . '/components/slick-carousel/slick/slick-theme.css')
                ->appendStylesheet($this->basePath() . '/components/fancybox/source/jquery.fancybox.css')
                ->appendStylesheet($this->basePath() . '/css/style.css')
                //->headLink(array('rel' => 'import', 'href' => $this->basePath() . '/components/core-scaffold/core-scaffold.html'))
                ->headLink(array('rel' => 'import', 'href' => $this->basePath() . '/components/core-toolbar/core-toolbar.html'))
                //->headLink(array('rel' => 'import', 'href' => $this->basePath() . '/components/core-menu/core-menu.html'))
                //->headLink(array('rel' => 'import', 'href' => $this->basePath() . '/components/core-item/core-item.html'))
                ->headLink(array('rel' => 'import', 'href' => $this->basePath() . '/components/paper-button/paper-button.html'))
                ->headLink(array('rel' => 'import', 'href' => $this->basePath() . '/components/core-overlay/core-overlay.html'))
                ->headLink(array('rel' => 'import', 'href' => $this->basePath() . '/components/core-icon-button/core-icon-button.html'))
        //->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()
                //->appendFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                //->appendFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->appendFile($this->basePath() . '/components/webcomponentsjs/webcomponents.min.js')
                ->appendFile($this->basePath() . '/components/jquery/dist/jquery.min.js')
                ->appendFile($this->basePath() . '/components/fancybox/source/jquery.fancybox.pack.js')
                ->appendFile($this->basePath() . '/components/slick-carousel/slick/slick.min.js')
                ->appendFile($this->basePath() . '/components/bootstrap/dist/js/bootstrap.min.js')
                ->appendFile($this->basePath() . '/js/app.js')
        ;
        ?>

    </head>
    <body fullbleed vertical layout unresolved class="clear-fixed-navbar">
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId: '904740909537369',
                    xfbml: true,
                    version: 'v2.1'
                });
            };

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <?php if (false): ?>
            <script>
                // This is called with the results from from FB.getLoginStatus().
                function statusChangeCallback(response) {
                    console.log('statusChangeCallback');
                    console.log(response);
                    // The response object is returned with a status field that lets the
                    // app know the current login status of the person.
                    // Full docs on the response object can be found in the documentation
                    // for FB.getLoginStatus().
                    if (response.status === 'connected') {
                        // Logged into your app and Facebook.
                        testAPI();
                    } else if (response.status === 'not_authorized') {
                        console.log('Please log into this app.');
                        // The person is logged into Facebook, but not your app.

                        //document.getElementById('status').innerHTML = 'Please log ' +
                        //        'into this app.';
                    } else {
                        console.log('Please log into Facebook.');
                        // The person is not logged into Facebook, so we're not sure if
                        // they are logged into this app or not.

                        //document.getElementById('status').innerHTML = 'Please log ' +
                        //        'into Facebook.';
                    }
                }

                // This function is called when someone finishes with the Login
                // Button.  See the onlogin handler attached to it in the sample
                // code below.
                function checkLoginState() {
                    FB.getLoginStatus(function(response) {
                        statusChangeCallback(response);
                    });
                }

                window.fbAsyncInit = function() {
                    FB.init({
                        appId: 904747596203367,
                        cookie: true, // enable cookies to allow the server to access
                        // the session
                        xfbml: true, // parse social plugins on this page
                        version: 'v2.1' // use version 2.1
                    });

                    // Now that we've initialized the JavaScript SDK, we call
                    // FB.getLoginStatus().  This function gets the state of the
                    // person visiting this page and can return one of three states to
                    // the callback you provide.  They can be:
                    //
                    // 1. Logged into your app ('connected')
                    // 2. Logged into Facebook, but not your app ('not_authorized')
                    // 3. Not logged into Facebook and can't tell if they are logged into
                    //    your app or not.
                    //
                    // These three cases are handled in the callback function.

                    FB.getLoginStatus(function(response) {
                        statusChangeCallback(response);
                    });

                };

                // Load the SDK asynchronously
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id))
                        return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));

                // Here we run a very simple test of the Graph API after login is
                // successful.  See statusChangeCallback() for when this call is made.
                function testAPI() {
                    console.log('Welcome!  Fetching your information.... ');
                    FB.api('/me', function(response) {
                        console.log(response);
                        console.log('Successful login for: ' + response.name);
                        //document.getElementById('status').innerHTML =
                        //        'Thanks for logging in, ' + response.name + '!';
                    });
                }
            </script>
        <?php endif; ?>
        <header class="navbar custom-navbar navbar-blue navbar-fixed-top" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">
                        <img src="/img/logo.png" alt="MissSelfie Logo">
                        Miss Selfie
                    </a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/"
                               class="<?= $this->layout()->selectedMenuItem === 'home' ? 'active' : '' ?>">
                                   <?= $this->translate('Home') ?>
                            </a>
                        </li>
                        <li>
                            <a href="<?= $this->url('missselfie/about') ?>" class="<?= $this->layout()->selectedMenuItem === 'about' ? 'active' : '' ?>">
                                <?= $this->translate('About') ?>
                            </a>
                        </li>
                        <li>
                            <a href="<?= $this->url('missselfie/how-it-works') ?>" class="<?= $this->layout()->selectedMenuItem === 'how-works' ? 'active' : '' ?>">
                                <?= $this->translate('How It Works') ?>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="<?= $this->url('missselfie/contestants') ?>" class="<?= $this->layout()->selectedMenuItem === 'contestants' ? 'active' : '' ?>">
                                <?= $this->translate('View Contestants') ?>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="content">
            <?php echo $this->content; ?>
        </div>
        <footer class="" role="contentinfo"><a href="<?= $this->url('missselfie/privacy') ?>"><?= $this->translate('Privacy Policy') ?></a> &bullet; <a href="<?= $this->url('missselfie/terms') ?>"><?= $this->translate('Terms of Use') ?></a></footer>
    </body>
</html>
