// Brand colors
// -------------------------

@brand-primary:         #4D90FE;
@brand-success:         #99C761;
@brand-warning:         #f0b70e;
@brand-danger:          #ee5f5b;
@brand-info:            #5bc0de;
@brand-inverse:         #4D4E55;
