<div class="container wrapper">
    <h2><?= $this->translate('Change Selfie') ?></h2>
    <?php if ($this->error): ?>
        <p class="alert alert-danger">
            <?= $this->translate('There were one or more issues with your submission. Please correct them as indicated below') ?>.
        </p>
    <?php endif ?>
    <?php
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url('user', array('action' => 'change_selfie', 'id' => $this->selfie_id)));
    //$form->setAttribute('method', 'post');
    echo $this->form()->openTag($form);
    ?>
    <div class="form-group"><?php
        $selfie = $form->get('selfie');
        ?>
        <div class="file-elem-outter">
            <div class="file-elem-inner">
                <div class="file-elem-wrapper">
                    <input type="file" name="selfie">
                </div>
                <button type="button" class="btn btn-primary"><?= $this->translate('Select your new selfie'); ?></button>
            </div>
        </div>
        <?php
        echo $this->formElementErrors($selfie);
        ?>
    </div>
    <div class="form-group"><?php
        $submit = $form->get('submit');
        ?>
        <paper-button raised class="btn-primary form-btn">
            <button type="submit"><?= $this->translate('Save selfie') ?></button>
        </paper-button>
    </div>
    <?php echo $this->form()->closeTag() ?>
</div>