<div class="container wrapper">
    <h2><?= $this->translate('Edit Miss Selfie Profile') ?></h2>
    <div class="alert alert-danger offline-elem"><strong>IMPORTANT NOTICE:</strong> You must be 18 years old or above to participate in this contest.
        If not, you will be disqualified even when you top the contest</div>
    <?php if ($this->error): ?>
        <p class="alert alert-danger">
            <?= $this->translate('There were one or more issues with your submission. Please correct them as indicated below') ?>.
        </p>
    <?php endif ?>
    <?php
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url('user', array('action' => 'edit_profile')));
    //$form->setAttribute('method', 'post');
    echo $this->form()->openTag($form);
    ?>
    <div class="form-group"><?php
        $fullname = $form->get('fullname');
        ?>
        <paper-input-decorator floatingLabel label="<?= $this->translate('Full name, as it appears on your birth certificate'); ?>">
            <?= $this->formElement($fullname); ?>
        </paper-input-decorator>
        <?php
        echo $this->formElementErrors($fullname);
        ?>
    </div>
    <div class="form-group"><?php
        $birthdate = $form->get('birthdate');
        echo $this->formLabel($birthdate);
        echo $this->formDateSelect($birthdate);
        echo $this->formElementErrors($birthdate);
        ?>
    </div>
    <div class="form-group"><?php
        $bio = $form->get('bio');
        ?>
        <paper-input-decorator floatingLabel label="<?= $this->translate('Tell us a bit about yourself, in a few words...'); ?>">
            <?= $this->formElement($bio); ?>
        </paper-input-decorator>
        <?php
        echo $this->formElementErrors($bio);
        ?>
    </div>
    <div class="form-group"><?php
        $physicaladdress = $form->get('physicaladdress');
        ?>
        <paper-input-decorator floatingLabel label="<?= $this->translate('Physical address (e.g Kinondoni B, Dar es Salaam)'); ?>">
            <?= $this->formElement($physicaladdress); ?>
        </paper-input-decorator>
        <?php
        echo $this->formElementErrors($physicaladdress);
        ?>
    </div>
    <div class="form-group"><?php
        $email = $form->get('email');
        ?>
        <paper-input-decorator floatingLabel label="<?= $this->translate('Valid email address (e.g mariamagdalena@gmail.com)'); ?>">
            <?= $this->formElement($email); ?>
        </paper-input-decorator>
        <?php
        echo $this->formElementErrors($email);
        ?>
    </div>
    <div class="form-group"><?php
        $phone = $form->get('phone');
        ?>
        <paper-input-decorator floatingLabel label="<?= $this->translate('Valid phone number (e.g +2557886123456)'); ?>">
            <?= $this->formElement($phone); ?>
        </paper-input-decorator>
        <?php
        echo $this->formElementErrors($phone);
        ?>
    </div>
    <div class="form-group"><?php
        $submit = $form->get('submit');
        ?>
        <paper-button raised class="btn-primary form-btn">
            <button type="submit"><?= $this->translate('Save changes') ?></button>
        </paper-button>
    </div>
    <?php echo $this->form()->closeTag() ?>
</div>