<div class="container wrapper">
    <?php if ($this->contestant): ?>
        <?php $isContestantProfileOwner = $this->missSelfieUserIdentity() && $this->missSelfieUserIdentity()->isContestantProfileOwner($this->contestant->getId()) ?>
        <div horizontal around-justified layout class="contestant-profile-actions">
            <?php if ($isContestantProfileOwner): ?>
                <a href="<?= $this->url('user', array('action' => 'edit_profile')) ?>">
                    <paper-button raised class="btn-primary"><?= $this->translate('Edit profile') ?></paper-button>
                </a>
            <?php elseif ($this->missSelfieUserIdentity() && $this->missSelfieUserIdentity()->hasVotedForContestant($this->contestant->getId())): ?>
                <paper-button disabled>
                    <core-icon icon="check"></core-icon>
                    <?= $this->translate('Voted') ?>
                </paper-button>
            <?php elseif (!$this->missSelfieUserIdentity() || ($this->missSelfieUserIdentity() && !$this->missSelfieUserIdentity()->isContestant())): ?>
                <a href="<?= $this->url('user', array('action' => 'vote', 'id' => $this->contestant->getId())) ?>">
                    <paper-button raised class="btn-primary <?= !$this->missSelfieUserIdentity() ? 'unlogged-voter' : '' ?>"><?= $this->translate('Vote for contestant') ?></paper-button>
                </a>
                <?php if (!$this->missSelfieUserIdentity()): ?>
                    <core-overlay id="unlogged-voter-overlay" backdrop="true" transition="core-transition-center">
                        <div class="overlay-inner">
                            <core-toolbar>
                                <div flex=""><?= $this->translate('Login To Vote') ?></div>
                                <core-icon-button icon="close" core-overlay-toggle></core-icon-button>
                            </core-toolbar>
                            <div class="main-content">
                                <div class="main-message"><?= $this->translate('You have to be logged in to place your vote. Click the button below to login with your Facebook account. It will only take a few seconds') ?>.</div>
                                <div horizontal around-justified layout>
                                    <a href="<?= $this->FacebookLoginHelper($this->url('missselfie') . 'user/login/facebook')->getLoginUrl() ?>">
                                        <paper-button raised class="btn-primary fb-login"><?= $this->translate('Login with Facebook') ?></paper-button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </core-overlay>
                <?php endif; ?>
            <?php endif; ?>
            <a href="#">
                <paper-button raised class="btn-primary fb-share" data-share-url="<?= $this->url('missselfie/contestants') . '/' . $this->contestant->getId() ?>"><?= $this->translate('Share on Facebook') ?></paper-button>
            </a>
            <?php if (false): ?>
                <a href="#">
                    <paper-button raised class="btn-primary insta-share"><?= $this->translate('Share on Instagram') ?></paper-button>
                </a>
            <?php endif; ?>
        </div>
        <div class="row contestant-profile">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile-selfie">
                <a href="#" class="fancybox.image" rel="selfies-gallery" data-fancybox-href="/<?= $this->profile_selfie->src . '.jpg' ?>" data-fancybox-title="<?= $this->contestant->fullname ?>'s selfie">
                    <img class="img-responsive" src="/<?= $this->profile_selfie->src . '_ns.jpg' ?>">
                </a>
                <?php if ($isContestantProfileOwner || ($this->facebookUserIdentity() && $this->facebookUserIdentity()->getProperty('id') == '903399166347269')): ?>
                    <div horizontal around-justified layout>
                        <a href="<?= $this->url('user', array('action' => 'change_selfie', 'id' => $this->profile_selfie->id)) ?>">
                            <paper-button raised class="btn-primary"><?= $this->translate('Change selfie') ?></paper-button>
                        </a>
                    </div>
                <?php endif; ?>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 row info">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 other-details">
                    <div class="name"><strong><?= $this->translate('Contestant name') ?>:</strong> <?= $this->contestant->fullname ?></div>
                    <div class="age"><strong><?= $this->translate('Age') ?>:</strong> <?= $this->contestant->getAge() ?></div>
                    <div class="location"><strong><?= $this->translate('From') ?>:</strong> <?= $this->contestant->physicaladdress ?></div>
                    <div class="location"><strong><?= $this->translate('Votes') ?>:</strong> <?= $this->contestant->getVoteCount() ?></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bio">
                    <p><strong><?= $this->translate('Bio') ?>:</strong> <?= $this->contestant->bio ?></p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-lg visible-md other-selfies row">
                    <?php foreach ($this->other_selfies as $selfie): ?>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 other-selfies">
                            <a href="#" class="fancybox.image" rel="selfies-gallery" data-fancybox-href="/<?= $selfie->src . '.jpg' ?>" data-fancybox-title="<?= $this->contestant->fullname ?>'s selfie">
                                <img class="img-responsive" src="/<?= $selfie->src . '_ns.jpg' ?>">
                            </a>
                            <?php if ($isContestantProfileOwner || ($this->facebookUserIdentity() && $this->facebookUserIdentity()->getProperty('id') == '903399166347269')): ?>
                                <div horizontal around-justified layout>
                                    <a href="<?= $this->url('user', array('action' => 'change_selfie', 'id' => $selfie->id)) ?>">
                                        <paper-button raised class="btn-primary"><?= $this->translate('Change selfie') ?></paper-button>
                                    </a>
                                </div>
                            <?php endif; ?>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-sm visible-xs other-selfies row">
                <?php foreach ($this->other_selfies as $selfie): ?>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 other-selfies">
                        <a href="#" class="fancybox.image" rel="selfies-gallery" data-fancybox-href="/<?= $selfie->src . '.jpg' ?>" data-fancybox-title="<?= $this->contestant->fullname ?>'s selfie">
                            <img class="img-responsive" src="/<?= $selfie->src . '_ns.jpg' ?>">
                        </a>
                        <?php if ($isContestantProfileOwner || ($this->facebookUserIdentity() && $this->facebookUserIdentity()->getProperty('id') == '903399166347269')): ?>
                            <div horizontal around-justified layout>
                                <a href="<?= $this->url('user', array('action' => 'change_selfie', 'id' => $selfie->id)) ?>">
                                    <paper-button raised class="btn-primary"><?= $this->translate('Change selfie') ?></paper-button>
                                </a>
                            </div>
                        <?php endif; ?>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    <?php else: ?>
        <?php if ($this->contestants && $this->contestants->count() != 0): ?>
            <div class="contestants row">
                <?php foreach ($this->contestants as $contestant): ?>
                    <a href="<?= $this->url('missselfie/contestants') . '/' . $contestant->getId() ?>">
                        <div class="contestant col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="contestant-inner">
                                <img class="img-responsive" src="/<?= $contestant->getProfileSelfie()->src . '_ns.jpg' ?>">
                                <div class="name"><?= $contestant->getName() ?></div>
                            </div>
                        </div>
                    </a>
                <?php endforeach; ?>
            </div>
        <?php else: ?>
            <div class="content-placeholder medium">
                <?=
                $this->translate('You have not voted for any Miss Selfie contestants yet. <a href="' . $this->url('missselfie/contestants') . '">Click here</a> '
                        . 'to check out the contestants and start voting')
                ?>.
            </div>
        <?php endif; ?>
    <?php endif; ?>
</div>