<div class="container wrapper">
    <h2><?= $this->translate('Contestant Application Form') ?></h2>
    <div class="alert alert-danger offline-elem"><strong>IMPORTANT NOTICE:</strong> You must be 18 years old or above to join the contest.
        If not, you will be disqualified even when you top the contest</div>
    <?php if ($this->error): ?>
        <p class="alert alert-danger">
            <?= $this->translate('There were one or more issues with your submission. Please correct them as indicated below') ?>.
        </p>
    <?php endif ?>
    <?php
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url('user', array('action' => 'join_contest')));
    //$form->setAttribute('method', 'post');
    echo $this->form()->openTag($form);
    ?>
    <div class="form-group"><?php
        $fullname = $form->get('fullname');
        ?>
        <paper-input-decorator floatingLabel label="<?= $this->translate('Full name, as it appears on your birth certificate'); ?>">
            <?= $this->formElement($fullname); ?>
        </paper-input-decorator>
        <?php
        echo $this->formElementErrors($fullname);
        ?>
    </div>
    <div class="form-group"><?php
        $birthdate = $form->get('birthdate');
        echo $this->formLabel($birthdate);
        echo $this->formDateSelect($birthdate);
        echo $this->formElementErrors($birthdate);
        ?>
    </div>
    <div class="form-group"><?php
        $bio = $form->get('bio');
        ?>
        <paper-input-decorator floatingLabel label="<?= $this->translate('Tell us a bit about yourself, in a few words...'); ?>">
            <?= $this->formElement($bio); ?>
        </paper-input-decorator>
        <?php
        echo $this->formElementErrors($bio);
        ?>
    </div>
    <div class="form-group"><?php
        $physicaladdress = $form->get('physicaladdress');
        ?>
        <paper-input-decorator floatingLabel label="<?= $this->translate('Physical address (e.g Kinondoni B, Dar es Salaam)'); ?>">
            <?= $this->formElement($physicaladdress); ?>
        </paper-input-decorator>
        <?php
        echo $this->formElementErrors($physicaladdress);
        ?>
    </div>
    <div class="form-group"><?php
        $email = $form->get('email');
        ?>
        <paper-input-decorator floatingLabel label="<?= $this->translate('Valid email address (e.g mariamagdalena@gmail.com)'); ?>">
            <?= $this->formElement($email); ?>
        </paper-input-decorator>
        <?php
        echo $this->formElementErrors($email);
        ?>
    </div>
    <div class="form-group"><?php
        $phone = $form->get('phone');
        ?>
        <paper-input-decorator floatingLabel label="<?= $this->translate('Valid phone number (e.g +2557886123456)'); ?>">
            <?= $this->formElement($phone); ?>
        </paper-input-decorator>
        <?php
        echo $this->formElementErrors($phone);
        ?>
    </div>
    <h4><?= $this->translate('Please provide your selfies below (all six are required)'); ?></h4>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group"><?php
                $selfie_1 = $form->get('selfie_1');
                ?>
                <div class="file-elem-outter">
                    <div class="file-elem-inner">
                        <div class="file-elem-wrapper">
                            <input type="file" name="selfie_1">
                        </div>
                        <button type="button" class="btn btn-primary"><?= $this->translate('Selfie #1'); ?></button>
                    </div>
                </div>
                <?php
                echo $this->formElementErrors($selfie_1);
                ?>
            </div>
            <div class="form-group"><?php
                $selfie_2 = $form->get('selfie_2');
                ?>
                <div class="file-elem-outter">
                    <div class="file-elem-inner">
                        <div class="file-elem-wrapper">
                            <input type="file" name="selfie_2">
                        </div>
                        <button type="button" class="btn btn-primary"><?= $this->translate('Selfie #2'); ?></button>
                    </div>
                </div>
                <?php
                echo $this->formElementErrors($selfie_2);
                ?>
            </div>
            <div class="form-group"><?php
                $selfie_3 = $form->get('selfie_3');
                ?>
                <div class="file-elem-outter">
                    <div class="file-elem-inner">
                        <div class="file-elem-wrapper">
                            <input type="file" name="selfie_3">
                        </div>
                        <button type="button" class="btn btn-primary"><?= $this->translate('Selfie #3'); ?></button>
                    </div>
                </div>
                <?php
                echo $this->formElementErrors($selfie_3);
                ?>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group"><?php
                $selfie_4 = $form->get('selfie_4');
                ?>
                <div class="file-elem-outter">
                    <div class="file-elem-inner">
                        <div class="file-elem-wrapper">
                            <input type="file" name="selfie_4">
                        </div>
                        <button type="button" class="btn btn-primary"><?= $this->translate('Selfie #4'); ?></button>
                    </div>
                </div>
                <?php
                echo $this->formElementErrors($selfie_4);
                ?>
            </div>
            <div class="form-group"><?php
                $selfie_5 = $form->get('selfie_5');
                ?>
                <div class="file-elem-outter">
                    <div class="file-elem-inner">
                        <div class="file-elem-wrapper">
                            <input type="file" name="selfie_5">
                        </div>
                        <button type="button" class="btn btn-primary"><?= $this->translate('Selfie #5'); ?></button>
                    </div>
                </div>
                <?php
                echo $this->formElementErrors($selfie_5);
                ?>
            </div>
            <div class="form-group"><?php
                $selfie_6 = $form->get('selfie_6');
                ?>
                <div class="file-elem-outter">
                    <div class="file-elem-inner">
                        <div class="file-elem-wrapper">
                            <input type="file" name="selfie_6">
                        </div>
                        <button type="button" class="btn btn-primary"><?= $this->translate('Selfie #6'); ?></button>
                    </div>
                </div>
                <?php
                echo $this->formElementErrors($selfie_6);
                ?>
            </div>
        </div>
    </div>
    <div class="form-group"><?php
        $submit = $form->get('submit');
        ?>
        <paper-button raised class="btn-primary form-btn">
            <button type="submit"><?= $this->translate('Join contest') ?></button>
        </paper-button>
    </div>
    <?php echo $this->form()->closeTag() ?>
</div>