<div class="container wrapper">
    <h2><?= $this->translate('About Miss Selfie') ?></h2>
    <p>
        Miss Selfie is an online beauty contest aiming to find the most beautiful girl in the social media through selfies and regular photos. With this contest we simply want to unleash the potential in both people and technology. What is beauty worth if it can't be seen?  We want to celebrate beauty and use it better bucked with technology of the social media.
    </p>
    <h4>Why Miss Selfie?</h4>
    <p>
        Miss Selfie is motivated by three things:
    </p>
    <strong>Mission</strong>
    <p>
        At Miss Selfie, we believe in a greater good. We want to leverage the habit of photo taking and sharing on social media to raise awareness and help the both financially and technologically  underprivileged groups across Tanzania. With keen attention to women and children, we are targeting two areas: Entrepreneurship and Education.
    </p>
    <strong>Vision</strong>
    <p>
        We envision this as a big and popular online competition making the greater social change through its ambassadors to the society, Miss Selfie winners.
    </p>
    <strong>Value</strong>
    <p>
        Money isn’t as valuable as well being without which money means nothing. Information may give us both money and well being only then we can excel as individuals and society as a whole through value creation. We believe in value creation!
    </p>
</div>