<div class="container wrapper">
    <?php if ($this->contestants && count($this->contestants) != 0): ?>
        <div class="contestants row">
            <?php foreach ($this->contestants as $contestant): ?>
                <a href="<?= $this->url('missselfie/contestants') . '/' . $contestant->getId() ?>">
                    <div class="contestant col-lg-3 col-md-4 col-sm-4 col-xs-6">
                        <div class="contestant-inner">
                            <img class="img-responsive" src="/<?= $contestant->getProfileSelfie()->src . '_ns.jpg' ?>">
                            <div class="name"><?= $contestant->getName() ?></div>
                        </div>
                    </div>
                </a>
            <?php endforeach; ?>
        </div>
    <?php else: ?>
        <div class="content-placeholder medium">
            <?=
            $this->translate('The Miss Selfie contest will be opened very soon, and you will be able to vote for your favourite selfie'
                    . ' superstars or stand a chance to become one' . (($this->facebookUserIdentity() && $this->facebookUserIdentity()->getProperty('gender') == 'female') ? '. '
                            . '<a href="' . $this->url('user', array('action' => 'join_contest')) . '">Go here to join the competition</a> if you are interested'
                            . ' to become a contestant and stand a chance to win $5,000 cash!' : ''))
            ?>.
        </div>
    <?php endif; ?>
</div>