<div class="container wrapper">
    <h2><?= $this->translate('How Miss Selfie Works') ?></h2>
    <p>
        Miss Selfie contest is pretty straight forward, you can either be  a voter or a contestant.
    </p>
    <p>
        To vote or contest simply log in with your Facebook account and you can view the contestants and vote for your favoutites or join the contest yourself and become a contestant.
    </p>

    <p>
        The choice is yours, you can vote for your favourite contestants everyday to make sure she wins if you are a voter.
    </p>

    <p>
        "What if I am contestant?", well its easy, you can share your profile on Facebook and Instagram and tell your fans and friends to vote for you.
    </p>

    <p>
        The online contest will end by getting the top voted ten contestants to attend the crowning event where the prizes will be given, attended by everyone who likes Miss Selfie.
    </p>

    <p>
        The winners become ambassadors of Miss Selfie mission, of social change of entrepreneurship and education via technology along with the prizes they get.
    </p>
</div>