<div id="home-hero" class="container wrapper">
    <div class="slider">
        <div class="slide">
            <h1><?= $this->translate('Welcome to Miss Selfie') ?></h1>
            <p>An online selfies and photos beauty contest.</p>
            <p>Join the contest or vote for your favourites.</p>
            <div horizontal around-justified layout class="fb-login-wrapper">
                <a href="<?= $FBloginUrl ?>">
                    <paper-button raised class="btn-primary fb-login"><?= $this->translate('Login with Facebook') ?></paper-button>
                </a>
            </div>
            <div horizontal around-justified layout>
                <a href="http://facebook.com/missselfietz" target="_blank">
                    <paper-button raised class="btn-primary"><?= $this->translate('Like us on Facebook') ?></paper-button>
                </a>
                <a href="http://instagram.com/missselfiez/" target="_blank">
                    <paper-button raised class="btn-primary"><?= $this->translate('Follow us on Instagram') ?></paper-button>
                </a>
            </div>
        </div>
        <div class="slide">
            <h1><?= $this->translate('Win Big Cash Just By Sharing Your Selfies') ?></h1>
            <p>A total of $5,000 to be won, plus so much more.</p>
            <p>Are you beautiful and above 18? Do you like taking selfies? Welcome aboard!</p>
            <div horizontal around-justified layout class="fb-login-wrapper">
                <a href="<?= $FBloginUrl ?>">
                    <paper-button raised class="btn-primary fb-login"><?= $this->translate('Login with Facebook') ?></paper-button>
                </a>
            </div>
            <div horizontal around-justified layout>
                <a href="http://facebook.com/missselfietz" target="_blank">
                    <paper-button raised class="btn-primary"><?= $this->translate('Like us on Facebook') ?></paper-button>
                </a>
                <a href="http://instagram.com/missselfiez/" target="_blank">
                    <paper-button raised class="btn-primary"><?= $this->translate('Follow us on Instagram') ?></paper-button>
                </a>
            </div>
        </div>
        <div class="slide">
            <h1><?= $this->translate('Join Miss Selfie With A Simple Click Of A Button') ?></h1>
            <p>Simply <a href="<?= $FBloginUrl ?>">login with your Facebook account</a> to either <a href="<?= $FBloginUrl ?>">join the Miss Selfie contest</a>
                or to <a href="<?= $this->url('missselfie/contestants') ?>">vote for your favourite contestants</a>.</p>
            <div horizontal around-justified layout class="fb-login-wrapper">
                <a href="<?= $FBloginUrl ?>">
                    <paper-button raised class="btn-primary fb-login"><?= $this->translate('Login with Facebook') ?></paper-button>
                </a>
            </div>
            <div horizontal around-justified layout>
                <a href="http://facebook.com/missselfietz" target="_blank">
                    <paper-button raised class="btn-primary"><?= $this->translate('Like us on Facebook') ?></paper-button>
                </a>
                <a href="http://instagram.com/missselfiez/" target="_blank">
                    <paper-button raised class="btn-primary"><?= $this->translate('Follow us on Instagram') ?></paper-button>
                </a>
            </div>
        </div>
    </div>
</div>