<div class="container wrapper">
    <h2><?= $this->translate('Privacy Policy') ?></h2>
    <h4>1. Your rights.</h4>
    <p>
        Privacy policy describes Users (herein referred to as “You” ) rights to privacy regarding Miss Selfie's (herein referred to as "We") collection, use, storage, protection and sharing of your personal information.
    </p>
    <p>
        This policy applies to the use of Miss Selfie web application notwithstanding how you access and/or use it.
    </p>

    <h4>2. Scope and consent.</h4>
    <p>
        When you sign up in Miss Selfie for voting or contesting, you accept this privacy policy.
    </p>
    <p>
        We retain the autonomy to amend this policy at any time. The revised version is to be made available on our website. In case of substantial change, a 30 days prior notice will be posted on our “policy update” link on our website. When the 30 days are over it will be deemed to expressly have consented to the amendments.
    </p>

    <h4>3. Collection of personal information.</h4>
    <p>
        We may collect the following types of information upon visiting Miss Selfie or visiting our website.
    </p>

    <ul>
        <li>
            Any information sent by the device you use to access Miss Selfie, such devices as computer, tablet, mobile phone and any other device. We receive such information as; pages you visit, device type and its unique identifier, geolocation information, IP address, mobile network information, statistics on page views, website traffic and referral URL.
        </li>
    </ul>

    <h4>4.  Information we get.</h4>
    <p>
        We may collect and store any  information you directly enter or by visiting our website through third parties. These information is about you and how you interact with the social media. When you are opening a Miss Selfie account we may collect this information.
    </p>

    <ul>
        <li>
            Your Name, Address, phone number, email address, National Identity number, date of birth, Facebook and Instagram friend list. These are used to run the Miss Selfie contest online.
        </li>
        <li>
            Your interaction with Miss Selfie may be used to get your information which remains anonymous and used explicitly for marketing and improving the contest.
        </li>
    </ul>

    <h4>5. Information from other sources.</h4>
    <p>
        You have the choice to provide us access to your personal information from third parties such as Facebook, Instagram, Twitter and other social media platforms.
    </p>
    <p>
        With your permission We may use this information for marketing and  advertising purposes, like, posting on your social media profiles, inviting friends and pushing notifications to your friends and followers.
    </p>

    <p>
        By associating third parties account to Miss Selfie account and authorizing Miss Selfie to access your information you agree that Miss Selfie may collect store and use this information in the context of this privacy policy.
    </p>

    <h4>6. Fraud detection.</h4>
    <p>
        For protection from personal information misuse we may collect information about you and your interaction with our platform. Also, we may evaluate your device to identify any malicious software.
    </p>

    <h4>7. Mobile device  privacy</h4>
    <p>
        Whether using a mobile app or accessing a mobile optimized web, the privacy policy apply regardlessly. if we receive information about your location, we may use that information for location based services such as advertisements and search results, adhering to limits of this privacy policy.
    </p>

    <h4>8. Why we collect personal information. </h4>
    <p>
        Our primary and most important reason is to run a fair contest and give you the best quality customer experience.
    </p>

    <p>
        This information may be used to:
    </p>

    <ul>
        <li>
            Enforce our user agreement and prevent potentially prohibited illegal activities.
        </li>
        <li>
            Compare information for accuracy and verification reasons.
        </li>
        <li>
            Contact you by electronically by emailing, calling your mobile number and/or text message as authorised by terms of use.
        </li>
        <li>
            Improve and Miss Selfie contest.
        </li>
    </ul>

    <h4>9. Marketing</h4>
    <p>
        We do not sell or rent your personal information to third parties under any circumstance without your clear consent. We may use your personal information for communication with you,  and advertising. You retain the authority to change settings and see or receive only what you want, your privacy and security is second to none.
    </p>

    <h4>10. Storage and security of your personal information.</h4>
    <p>
        "Personal information" is used in this policy to mean information specific to a person and can be used to identify that person.
    </p>

    <p>
        Your personal information is stored and securely protected with high technical, and administrative security measures. We use data encryption,secure socket layer  (SSL) technology to encrypt the transmission of that information, and prevent unauthorised access by firewall.
    </p>

    <p>
        We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission, or method of electronic storage, is 100% secure. Therefore, we cannot guarantee its absolute security.
    </p>

    <h4>11. Sharing information with Miss Selfie users.</h4>
    <p>
        We may share your personal information such information include but not limited to, your name, location, photos, and any related information in context of Miss Selfie contest adhering to this policy
    </p>

    <p>
        When you use third parties to access Miss Selfie we may share your personal information only in service of Miss Selfie to the extent of this Privacy Policy.
    </p>
    <h4><strong>NOTE</strong></h4>
    <p>
        Miss Selfie will not be liable to the third party misuse of your information even though our user agreement prohibits it. You understand that third parties have their  user agreements and privacy policies, for your best interests, we recommend you read and understand them before you use their services.
    </p>

    <h4>12. Third parties we share your personal information with.</h4>
    <p>
        We may use your information adhering to this privacy policy and user agreement with third parties like advertisers and consultants. This may include but not limited to sending you marketing information (please disable this service if you do not like it).
    </p>

    <p>
        Service providers under contract offering us various technology services, fraud prevention and other related services that we legally may be required to offer. In this case your information has to be used strictly in the context of the service they offer to us.
    </p>
</div>