<div class="container wrapper">
    <h2><?= $this->translate('Terms of Use') ?></h2>
    <h4>General Provision</h4>
    <p>
        <strong>1.1</strong> The online contest Miss Selfie (hereinafter - Contest) begins on March 1st, 2015 and ends on July 1, 2015.
    </p>

    <p>
        By using this site you concede that you have the right, authority and capacity to enter and to abide by all terms and conditions of use.
    </p>

    <p>
        <strong>1.2</strong> The Contest is arranged by MissSelfie (hereinafter - Organizer).
    </p>

    <p>
        <strong>1.3</strong> The Contest is open to female participants (hereinafter - Participants), who have reached 18 and are not above 25 years of age as of March 1st, 2015   regardless of the residence.
    </p>

    <p>
        <strong>1.4</strong> The contestant must never have been married before, never given birth to a child or been pregnant nor been a parent.
    </p>

    <p>
        <strong>1.5</strong> Contestants are expected to maintain accurate and up to date information in their profile. Having inaccurate information may jeopardize a Contestants eligibility should she qualify for the finals.
    </p>

    <p>
        <strong>1.6</strong> Only persons of good health, sound mind and having no medical history of any mental illness and having a good moral character can participate. The contestant should not have any cases (criminal or civil) registered against her.
    </p>

    <p>
        <strong>1.7</strong> The Contest is remote, held by means of the Internet. Official website: <a href="<?= $this->url('missselfie') ?>">www.missselfie.co.tz</a>
    </p>

    <p>
        <strong>1.8</strong> The Contest prize pool is $5,000[1]. It will be distributed among the winners in the following way:
    </p>

    <ul>
        <li>First winner's prize - $2,500</li>
        <li>Second winner's  prize - $1,500</li>
        <li>Third winner's prize - $1,000</li>
    </ul>

    <p>
        <strong>1.9</strong> The Contestant agrees to:
    </p>

    <ul>
        <li>Give an interview for the radio, TV and other mass media broadcasts</li>
        <li>Usage of her photos by the Organizer for promotion purposes</li>
        <li>Usage of her name by the Organizer for promotion purposes without additional payment</li>
        <li>The Organizer reserves the copyrights for advertising materials created using the items mentioned above.</li>
    </ul>

    <h4>2. Contest Registration</h4>
    <p>
        <strong>2.1</strong> The request form for participation is filled out on the Contest official website.
    </p>

    <p>
        <strong>2.2</strong> The registration period is from February 1, 2015 to March 1, 2015. The voters may register until the end of the Contest.
    </p>

    <p>
        <strong>2.3</strong> The Contest Administration reserves the right to deny participation to a pretender without explaining the reasons.
    </p>

    <p>
        <strong>2.4</strong> The winners of the previous seasons of the Contest shall not be able to partake in the beauty contest Miss Selfie 2015.
    </p>

    <p>
        <strong>2.5</strong> The Organizer reserves the right to modify the Contest rules. Information on any changes will be posted in the News section of the Contest official website.
    </p>

    <p>
        <strong>2.6</strong> The Organizer reserves the right to verify the Participant’s identity by requesting a copy of ID with photo, name and date of birth when the event is due.
    </p>

    <h4>3. Profile requirements</h4>
    <p>
        <strong>3.1</strong> A profile should contain the full name of the Participant.
    </p>

    <p>
        <strong>3.2</strong> The photos sent to the Contest must comply with the following requirements:
    </p>

    <ul>
        <li>There must be no less than three photos in the profile, and the profile photo must a selfie.</li>
        <li>Accepted file types are .jpeg(jpg), .gif, and .png.</li>
        <li>Photo's width and height must be no less than 400 pixels and no more than 3,000 pixels.</li>
        <li>The size of the photo must not exceed 6 MB.</li>
        <li>It is impermissible to upload the photos of poor quality.</li>
        <li>The photo must not be a shot of one's reflection in the mirror.</li>
        <li>For the selfie, the face must be seen clearly and directed towards the camera lens.</li>
        <li>It is impermissible to upload collages.</li>
        <li>Erotic and nude photos are forbidden.</li>
        <li>Redundant editing of the photo using graphic editing software is not welcomed.</li>
        <li>It is forbidden to send the photos containing logo of the external resources (social media, photo studios, photographers, trademarks, etc.) as well as photos containing other external notes (date of the photo, etc.).</li>
        <li>The photo must only contain the image of the Participant; there must not be other people in it.</li>
        <li>The photos can be changed while the Contest is running provided that they meet the mentioned above requirements.</li>
    </ul>

    <p>
        <strong>3.3</strong> A participant is obliged to fill in all fields of the form. Empty profiles will not be accepted for participation in the Contest.
    </p>

    <p>
        <strong>3.4</strong> It is prohibited to create more than one profile for one Participant or register profiles for another person.
    </p>

    <p>
        <strong>3.5</strong> A participant`s profile appears on the official website of the Contest after it is approved by the moderator.
    </p>

    <p>
        <strong>3.6</strong> The Organizer reserves the right to reject Contestants’ photos without giving any reasons.
    </p>

    <h4>4. Voting</h4>
    <p>
        <strong>4.1</strong> The voting starts when profile appears on the website of the Contest and continues till the end of the Contest. The website users, having an account with Miss Selfie, have the right to vote for only once a day per participant. Visitors, who do not have Miss Selfie account, may vote no more than once a day.
    </p>

    <p>
        <strong>4.2</strong> Participant cannot vote for herself having registered as a user.
    </p>

    <h4>5. Winners determination</h4>
    <p>
        <strong>5.1</strong> The winners of the Contest are determined by a transparent internet voting carried out among the visitors of the Contest`s website.
    </p>

    <p>
        <strong>5.2</strong> The winners in the  Miss Selfie  are determined by the Contest voters.
    </p>

    <p>
        <strong>5.3</strong>  It is prohibited to use unfair methods for increasing the Participant`s rating. The unfair methods include prepaid tasks on specialized websites, registration of several accounts from one computer, and others. In case the Contest
        Administration detects such violations (increase of votes), the votes of the Participant will be set to zero, or the Participant will be disqualified. For the time of investigating the matter, the Participant’s profile will be blocked.
    </p>

    <p>
        <strong>5.4</strong> The Company is entitled to request a participant to provide information about the resources she promotes her webpage on. In case there is no reply, the contest Administration reserves the right to block the Participant`s profile.
    </p>

    <p>
        <strong>5.5</strong> The Organizer reserves the right to disqualify the Participant, either during the Contest or after it has finished without explaining the reason.
    </p>

    <h4>6. Prize procedure</h4>
    <p>
        <strong>6.1</strong> The winners are crowned 14 days after the internet voting is finished on the crowning event. The event will be the final round for getting and crowning Miss Selfie.
    </p>

    <p>
        <strong>6.2</strong> The crowning event  will take place at the place and date of exposition. The schedule of events and qualification rounds are subject to change at the discretion of the Organiser.
    </p>

    <p>
        <strong>6.3</strong>  The winners of the Contest agree to visit the crowning event. In case a Participant fails to come to the crowning event, the nomination will be granted to the next Participant by the rating. The  expenses (travel & stay if applicable) will have to be borne by the participant.
    </p>

    <p>
        <strong>6.4</strong> The winner agrees to provide the Organizer with the documents confirming her personal identity before receiving the prize. In case of refusal to provide the documents or divergence in data of ID and profile, the winner forfeits the right for the prize. In the event of any dispute, the Organisers decisions are final and binding on the applicant.
    </p>

    <p>
        <strong>6.5</strong> The courts of the United Republic of Tanzania have the jurisdiction over all disputes.
    </p>

    <p><strong>
            For further information / clarifications, contact on +255713977846  at the National Directors office from 11:00 am till 6.00 pm, on all days except on Saturdays & Sundays.
        </strong></p>
</div>